h2 {color: blue;}
h5 {color: blue;}
h2 {font-size: 300%;}
h5 {font-size: 300%;}
h2 {text-align: center;}
h5 {text-align: center;}
h2 {text-align: center;}
h2 {color: blue;}
h4 {font-size: 150%;}
h6 {font-size: 150%;}
h3 {font-size: 150%;}
h1 {font-size: 150%;}
#bola {margin-left: 25%;}
#volei {margin-left: 40%;}
